.container{
  display: flex;
  gap: 20%;
  justify-content: space-between;
  padding: 1rem;
}
.btnContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.logo{
  width: 120px;
}
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .btnContainer {
    flex-direction: row;
    gap: 10px;
  }
}
