.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 10px;
}

.title {
  font-size: 1.5rem;
  font-family: serif;
  margin-bottom: 0;
  color: rgb(175, 115, 146);
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imageContainer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgb(209, 123, 9);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.imageContainer {
  /* width: 200px;
  height: 300px; */
  position: relative;
  background: #111;
  padding: 10px;
}

.imageContainer::before,
.imageContainer::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), #032146, #C3F2FF, #b00);
  animation: rotate 10s linear infinite;
}

.imageContainer::after {
  filter: blur(10px);
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.imageContainer img:hover {
  transform: scale(105%);
}

.btn {
  width: min-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: 1.1rem;
  color: rgb(105, 78, 78);
  background-color: rgb(222, 157, 72);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(209, 123, 9);
  transform: scale(105%);
}

.selectedImg {
  transform: scale(1.3);
  background-color: white;
  opacity: 0.5;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .imageContainer {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .title {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }
}
